//variables
// $backgroundColor:
$mainFont: Roboto, sans-serif;
$boxShadow: 0 1px 6px #888888;
$silver: #070707;
$white: white;
$tangerine: #E2492F;
/*
  Simple Grid
  Project Page - http://thisisdallas.github.com/Simple-Grid/
  Author - Dallas Bass
  Site - http://dallasbass.com
*/
.grid:after,
[class*='col-'],
[class*='grid'],
[class*='mobile-'] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
[class*='col-'] {
	float: left;
	min-height: 1px;
	padding-right: 20px;
	/* column-space */
}
[class*='col-'] [class*='col-']:last-child {
	padding-right: 0;
}
.grid {
	width: 100%;
	max-width: 1140px;
	min-width: 748px;
	/* when using padded grid on ipad in portrait mode, width should be viewport-width - padding = (768 - 20) = 748. actually, it should be even smaller to allow for padding of grid containing element */
	margin: 0 auto;
	overflow: hidden;
}
.grid:after {
	content: "";
	display: table;
	clear: both;
}
.grid-pad {
	z-index: 10;
	padding-top: 20px;
	padding-left: 20px;
	/* grid-space to left */
	padding-right: 0;
	/* grid-space to right: (grid-space-left - column-space) e.g. 20px-20px=0 */
}
.push-right {
	float: right;
}
/* Content Columns */
.col-1-1 {
	width: 100%;
}
.col-2-3,
.col-8-12 {
	width: 66.66%;
}
.col-1-2,
.col-6-12 {
	width: 50%;
}
.col-1-3,
.col-4-12 {
	width: 33.33%;
}
.col-1-4,
.col-3-12 {
	width: 25%;
}
.col-1-5 {
	width: 20%;
}
.col-1-6,
.col-2-12 {
	width: 16.667%;
}
.col-1-7 {
	width: 14.28%;
}
.col-1-8 {
	width: 12.5%;
}
.col-1-9 {
	width: 11.1%;
}
.col-1-10 {
	width: 10%;
}
.col-1-11 {
	width: 9.09%;
}
.col-1-12 {
	width: 8.33%;
}
/* Layout Columns */
.col-11-12 {
	width: 91.66%;
}
.col-10-12 {
	width: 83.333%;
}
.col-9-12 {
	width: 75%;
}
.col-5-12 {
	width: 41.66%;
}
.col-7-12 {
	width: 58.33%;
}
/* Pushing blocks */
.push-2-3,
.push-8-12 {
	margin-left: 66.66%;
}
.push-1-2,
.push-6-12 {
	margin-left: 50%;
}
.push-1-3,
.push-4-12 {
	margin-left: 33.33%;
}
.push-1-4,
.push-3-12 {
	margin-left: 25%;
}
.push-1-5 {
	margin-left: 20%;
}
.push-1-6,
.push-2-12 {
	margin-left: 16.667%;
}
.push-1-7 {
	margin-left: 14.28%;
}
.push-1-8 {
	margin-left: 12.5%;
}
.push-1-9 {
	margin-left: 11.1%;
}
.push-1-10 {
	margin-left: 10%;
}
.push-1-11 {
	margin-left: 9.09%;
}
.push-1-12 {
	margin-left: 8.33%;
}
@media handheld, only screen and (max-width: 767px) {
	.grid {
		width: 100%;
		min-width: 0;
		margin-left: 0;
		margin-right: 0;
		padding-left: 20px;
		/* grid-space to left */
		padding-right: 10px;
		/* grid-space to right: (grid-space-left - column-space) e.g. 20px-10px=10px */
	}
	[class*='col-'] {
		width: auto;
		float: none;
		margin: 10px 0;
		padding-left: 0;
		padding-right: 10px;
		/* column-space */
	}
	[class*='col-'] [class*='col-'] {
		padding-right: 0;
	}
	/* Mobile Layout */
	[class*='mobile-col-'] {
		float: left;
		margin: 0 0 10px;
		padding-left: 0;
		padding-right: 10px;
		/* column-space */
		padding-bottom: 0;
	}
	.mobile-col-1-1 {
		width: 100%;
	}
	.mobile-col-2-3,
	.mobile-col-8-12 {
		width: 66.66%;
	}
	.mobile-col-1-2,
	.mobile-col-6-12 {
		width: 50%;
	}
	.mobile-col-1-3,
	.mobile-col-4-12 {
		width: 33.33%;
	}
	.mobile-col-1-4,
	.mobile-col-3-12 {
		width: 25%;
	}
	.mobile-col-1-5 {
		width: 20%;
	}
	.mobile-col-1-6,
	.mobile-col-2-12 {
		width: 16.667%;
	}
	.mobile-col-1-7 {
		width: 14.28%;
	}
	.mobile-col-1-8 {
		width: 12.5%;
	}
	.mobile-col-1-9 {
		width: 11.1%;
	}
	.mobile-col-1-10 {
		width: 10%;
	}
	.mobile-col-1-11 {
		width: 9.09%;
	}
	.mobile-col-1-12 {
		width: 8.33%;
	}
	/* Layout Columns */
	.mobile-col-11-12 {
		width: 91.66%;
	}
	.mobile-col-10-12 {
		width: 83.333%;
	}
	.mobile-col-9-12 {
		width: 75%;
	}
	.mobile-col-5-12 {
		width: 41.66%;
	}
	.mobile-col-7-12 {
		width: 58.33%;
	}
	.hide-on-mobile {
		display: none !important;
		width: 0;
		height: 0;
	}
}
body {
	font-family: $mainFont;
	background-color: $white;
	letter-spacing: 0.18em;
	width: auto;
	button {
		outline: none;
		border: none;
	}
	input {
		outline: none;
		border: none;
	}
}
.headerWrapper {
	margin-top: 3%;
	width: 100%;
	background-color: $white;
	a {
		text-decoration: none;
		cursor: pointer;
		color: $tangerine;
	}
	.linkButtons {
		font-size: 1.8em;
		position: relative;
		margin: 2% 5% 0 0;
		vertical-align: top;
		display: inline-block;
		padding-left: 5.25%;
		a {
			padding-right: 0.35em;
		}
		#twitterHandle {
			margin: 2.5% 0;
			font-size: 0.65em;
		}
		.contactInfo-phone {
			margin-top: 4%;
			font-size: 0.6em;
			color: $tangerine;
			text-decoration: none;
			&:hover {
				cursor: pointer;
				text-decoration: none;
			}
		}
	}
	#homeNav{
		font-size: 1.25em;
		color: $tangerine;
		position: relative;
		&:hover{
			text-decoration: underline;
		}
	}
}
.fa-bars{
position: relative;
left: 90%;
color: $tangerine;
font-size: 3em;
margin-top: 2%;
transition-delay: 2s;
&:hover{
	cursor: pointer;
	text-decoration: none;
}
}
.dropdownWrapper {
	.dropdownMenu{
		visibility: hidden;
	}
	.dropdownMenu.showing{
		visibility: visible;
		display: block;
		font-size: 1em;
		color: $silver;
		position: relative;
		left: 77%;
		display: block;
		width: 20%;
		background-color: $white;
		color: $tangerine;
		margin: -1% 5%;
		padding: 1% 0;
		.dropdownMenu-links-cats {
			padding: 3% 0;
			text-align: right;
			width: 80%;
			position: relative;
			cursor: pointer;
		}
		.dropdownMenu-links-cats--contact {
			@extend .dropdownMenu-links-cats;
		}
		.dropdownMenu-links-cats--resume {
			@extend .dropdownMenu-links-cats;
		}
	}
}
#headerNameDesc{
	margin: 0 auto 3% auto;
	align-items: center;
	display: block;
	.headerName {
		text-align: center;
		color: $tangerine;
		font-size: 3em;
		display: block;
		margin: auto;
	}
	.headerDesc{
			width: 30%;
			color: $silver;
			display: block;
			margin: auto;
			text-align: center;
	}
}
#pageGuts-headshot {
	width: 12em;
	height: 12em;
	display: flex;
	margin: auto;
	padding-bottom: 2%;
}
.projectList{
		.photoComp{
			width: 102%;
			margin: 1% 0;
			padding: 0;
			position: relative;
			z-index: 1;
			&:hover, .projectTitle{
				cursor: pointer;
			}
		}
		.projectTitle{
			font-family: $mainFont;
			font-weight: 700;
			position: absolute;
			margin: -1.5em 0 0 .5em;
			z-index: 10;
			color: $white;
			font-size: 2.85em;
			text-align: left;
			background-color: rgba(30, 25, 25, .5);
			a{
				text-decoration: none;
			}
		}
	}
	.fa-external-link-square{
		display: none;
	}

.pageGuts-button {
	position: relative;
	display: block;
	margin: 2% auto;
	background-color: $white;
	a {
		background-color: $white;
		text-decoration: none;
		color: $tangerine;
		position: relative;
		font-size: 2em;
		letter-spacing: 2px;
		&:hover {
			text-decoration: underline;
			.fa-external-link-square{
				display: inline-block;
				text-decoration: underline;
			}
		}
	}
}
.pageGuts-wrapper {
	width: 80%;
	margin: auto;
	.pageGuts-heading {
		color: $silver;
		font-size: 1.8em;
		margin: 2%;
	}
	.gridImage {
		position: relative;
		border: solid 2px $tangerine;
		width: 15em;
		height: 15em;
		padding: 2%;
		margin: 0 10%;
		color: $silver;
		&:hover {
			border: solid 2px $tangerine;
			color: $tangerine;
			border: none;
			.gridImage-description {
				display: block;
				margin-top: 6%;
				width: 80%;
			}
			img {
				display: none;
			}
			a {
				text-decoration: none;
			}
			#viewGHRepo {
				text-decoration: underline;
				i {
					font-size: 0.85em;
					text-decoration: underline;
				}
			}
		}
	}
	.gridImage-description {
		display: none;
		position: relative;
		left: 12%;
		width: 12em;
		margin-top: 8%;
		color: $tangerine;
		font-size: 0.88em;
	}
	.linkButtons-bottom {
		text-align: center;
		margin: 5% 0;
		font-size: 2em;
		position: relative;
		color: $tangerine;
		a {
			color: $tangerine;
			text-decoration: none;
		}
		.fa {
			margin-top: 5%;
		}
		.contactInfo-phone--bottom {
			text-decoration: none;
			padding-top: 1.5%;
			text-align: center;
			font-size: 0.6em;
			margin: 0 -15%;
			&hover {
				cursor: pointer;
				text-decoration: none;
			}
		}
		#bottomEmail {
			font-size: 0.7em;
		}
	}
	#pageGuts-resumeModal {
		display: none;
		background-color: white;
		position: relative;
		margin-top: -29.5%;
		left: 20%;
		width: 60%;
		height: 80%;
		z-index: 15;
		box-shadow: $boxShadow;
		#pageGuts-button--exitR {
			position: relative;
			padding: 3%;
			left: 50%;
			color: $silver;
			#resumeExitButton:hover {
				cursor: pointer;
			}
			#resumePopOut {
				text-decoration: none;
				color: $silver;
				size: 0.6em;
				position: relative;
				margin-right: 9%;
				letter-spacing: 1px;
			}
			#resumePopOut:hover {
				text-decoration: underline;
			}
		}
		#pageGuts-resumeModal--placeholder {
			position: relative;
			left: 1%;
			margin: 2% 0;
			width: 98%;
			height: 98%;
		}
	}
}
.projectPageWrapper{
	width: 90%;
	.projectPageDesc{
		visibility: hidden;
	}
	.projectPageDesc.showing{
		background-color: $tangerine;
		color: $white;
		visibility: visible;
		display: block;
		ul{
			margin: auto;
			li{
				padding: 5%;
				background-color: $tangerine;
				color: $white;
			}
		}
	}
	.wireFrameMain{
		position: relative;
		display: block;
		margin: auto;
		&:hover{
			opacity: .25;
			cursor: pointer;
		}
	}
	#pearlFrame{
		left:6.45%;
	}
	#do_itFrame{
		left:6.45%;
	}
}
